---
layout: bootcamp
root: .
venue: Indiana University
address: Bloomington, Indiana
country: United-States
humandate: Jan 27-28, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-01-27
enddate: 2014-01-28
latlng: 39.1663815,-86.526621
registration: restricted
instructor: ["Michael Hansen", "Jeffrey Shelton"]
contact: admin@software-carpentry.org
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Typical Setup</h2>

  {% include setup/vm.html %}

<h2>Advanced Setup</h2>
<p>
    For advanced users who would like to install the individual required
    software packages directly on their laptops (rather than downloading the
    virtual machine), we provide links below for Windows, Mac OS X, and Linux.
</p>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    <hr />
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
  </div>
</div>

<hr />

{% include setup/overview-python.html %}
{% include setup/windows-python.html %}
{% include setup/macosx-python.html %}
{% include setup/linux-python.html %}
